# Ignorar entorno virtual
venv/
.env/
__pypackages__/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de dependencias generados
Pipfile.lock
*.egg-info/
dist/
build/

# Archivos de pruebas de cobertura
.coverage
*.cover
*.hypothesis/

# Otros archivos innecesarios para el repositorio
*.log
