<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Peliculizate{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movies/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <title>
        {% if request.args.get('query') %}
            <h1>Resultados de la búsqueda - "{{ request.args.get('query') }}"</h1>
        {% endif %}
    </title>
</head>
<body>

{% include 'general/barraNav.html' %}
<h1>
    {% if request.args.get('query') %}
        Resultados de la búsqueda - "{{ request.args.get('query') }}"
    {% endif %}
</h1>

<div class="movies-container">
    {% if movies %}
        {% for movie in movies %}
            {% if movie.poster_path %}
                <div class="movie-card">
                    <a href="{{ url_for('movie.show', movie_id=movie.id) }}">
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}" onerror="this.onerror=null; this.src='https://via.placeholder.com/500x750?text=Poster+No+Disponible';">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No se encontraron resultados para "{{ request.args.get('query') }}"</p>
    {% endif %}
</div>

</body>
</html>

