/* app/static/css/styles.css */

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: #382348;
}

/* Barra de navegación */
nav {
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #f60909;
    color: white;
}

/* Estilo del título h1 */
h1 {
    text-align: center;
    color: #333;
    margin-top: 100px; /* Aquí agregamos un margen superior */
}

/* Estilo de la galería de películas */
.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 10%;
}

/* Cada tarjeta de película */
.movie-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
    transform: translateY(-10px);
}

/* Imagen de la película */
.movie-card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #eee;
}

/* Contenido de la tarjeta */
.movie-card .movie-info {
    padding: 15px;
}

.movie-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #555;
}

.movie-card p {
    font-size: 0.9em;
    line-height: 1.4;
    color: #666;
}

.movie-card p strong {
    color: #333;
}


