<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Catalogo de Peliculas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/ciencia-ficcion">Ciencia Ficción</a></li>
            <li><a href="/accion">Acción</a></li>
            <li><a href="/comedia">Comedia</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
