<!-- app/templates/movies.html -->
{% extends 'base.html' %}

{% block title %}Peliculas de Ciencia Ficción{% endblock %}

{% block content %}

<h1>Películas Disponibles de Ciencia Ficción</h1>
<div class="movies-container">
    {% for movie in movies %}
        <div class="movie-card">
            <!-- Enlace que lleva a la página de detalles de la película -->
            <a href="{{ url_for('movie.show', movie_id=movie.id) }}">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
