{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/show.css') }}">
<div class="main-container">
    
    <div class="detail_">
        
        <h1 class="movie-title">{{ movie.title if movie.title else '<span class="unavailable">Título no disponible</span>' }}</h1>
        
        
        <div class="movie-content">
            
            <img 
                src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" 
                alt="Poster de {{ movie.title }}" 
                class="movie-poster"
                onerror="this.onerror=null; this.src='https://via.placeholder.com/500x750?text=Poster+No+Disponible';"
            >
            
            
            <div class="movie-details">
                <p><strong>Fecha de Estreno:</strong> {{ movie.release_date or '<span class="unavailable">Fecha no disponible</span>' | safe }}</p>
                <p><strong>Géneros:</strong> {{ movie.genres | join(', ') if movie.genres else '<span class="unavailable">Géneros no disponibles</span>' | safe }}</p>
                <p><strong>Actores:</strong> {{ movie.actors | join(', ') if movie.actors else '<span class="unavailable">Actores no disponibles</span>' | safe }}</p>
                <p><strong>Duración:</strong> {{ movie.runtime if movie.runtime else '<span class="unavailable">La duración sigue siendo un secreto... ¿cuánto durará? ¡Aún lo averiguamos!</span>' }} minutos</p>
                <p><strong>Valoración:</strong> {{ movie.rating if movie.rating else '<span class="unavailable">Valoración no disponible</span>' }}/10</p>
                <p><strong>Idioma Original:</strong> 
                    {% if movie.original_language == 'en' %}
                        Inglés
                    {% elif movie.original_language == 'es' %}
                        Español
                    {% elif movie.original_language == 'fr' %}
                        Francés
                    {% elif movie.original_language == 'de' %}
                        Alemán
                    {% elif movie.original_language == 'it' %}
                        Italiano
                    {% elif movie.original_language == 'pt' %}
                        Portugués
                    {% elif movie.original_language == 'ja' %}
                        Japonés
                    {% elif movie.original_language == 'ko' %}
                        Coreano
                    {% elif movie.original_language == 'zh' %}
                        Chino
                    {% elif movie.original_language == 'ru' %}
                        Ruso
                    {% elif movie.original_language == 'ar' %}
                        Árabe
                    {% elif movie.original_language == 'hi' %}
                        Hindi
                    {% else %}
                        {{ movie.original_language or '<span class="unavailable">Idioma no disponible</span>' | safe }}
                    {% endif %}
                </p>
                
            </div>
        </div>
        
        
        <p class="movie-overview">
            {% if movie.overview %}
                {{ movie.overview | safe }}
            {% else %}
                <span class="unavailable">Resumen no disponible</span>
            {% endif %}
        </p>
        
        
        {% if movie.budget or movie.revenue %}
            {% if movie.budget %}
                <p><strong>Presupuesto:</strong> ${{ movie.budget | format_number }}</p>
            {% else %}
                <p><strong>Presupuesto:</strong> <span class="unavailable">Información no disponible</span></p>
            {% endif %}
            {% if movie.revenue %}
                <p><strong>Recaudación:</strong> ${{ movie.revenue | format_number }}</p>
            {% else %}
                <p><strong>Recaudación:</strong> <span class="unavailable">Información no disponible</span></p>
            {% endif %}
        {% else %}
            <p><strong >Aviso: </strong><span  class="unavailable">Esta película fue distribuida al público en general, y no se dispone 
                de información sobre el presupuesto y la recaudación.</span></p>
        {% endif %}

        
        {% if movie.video_url %}
            <div class= "movie-video-container">
                <iframe 
                    src="{{ movie.video_url | youtube_embed }}" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>
        {% else %}
            <p><strong>Tráiler no disponible:</strong> <span class="unavailable">No se encontró un tráiler para esta película. Tal vez aún no se ha lanzado o no ha sido publicado en línea.</span></p>
        {% endif %}
    </div>
</div>
{% endblock %}
